html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

body {
	--mp-color-sys--bg: #1a1a1b;
	--mp-color-sys--bg-sub: #0d0d0e;
	--mp-color-sys--surface-1: #2e2e31;
	--mp-color-sys--surface-2: #3d3d42;
	--mp-color-sys--fg: #dddde4;
	--mp-color-sys--accent-1-muted: #534518;
	--mp-color-sys--accent-1-intense: #d3aa26;

	--mp-color-ref--release-core: #cc4141;
	--mp-color-ref--release-hot: #49a849;
	--mp-color-ref--release-pof: #b4347f;
	--mp-color-ref--release-ibs: #3da0e2;
	--mp-color-ref--release-eod: #3fbeb8;
	--mp-color-ref--release-soto: #b8a641;

	background: var(--mp-color-sys--bg);
	color: var(--mp-color-sys--fg);
	font-family: system-ui, sans-serif;
}

.mp-grid {
	--mp-grid--incr-min: 1rem;
	--mp-grid--route-col-count: 1;
	--mp-grid--gap-length: 6px;
	--mp-grid--outer-gutter: 0.25rem;
	--mp-grid--header-shadow: 0 0.25rem 0.25rem var(--mp-color-sys--bg);
	--mp-grid--column-width: 12rem;

	--mp-grid--length-1-min: calc(
		var(--mp-grid--gap-length) + var(--mp-grid--incr-min)
	);
	--mp-grid--length-15-min: calc(var(--mp-grid--length-1-min) * 15);

	display: grid;
	background-color: var(--mp-color-sys--bg-sub);

	grid-template-columns: auto repeat(
			calc(
				var(--mp-grid--group-col-count, 20) + var(--mp-grid--route-col-count, 1)
			),
			var(--mp-grid--column-width)
		);
	grid-template-rows: auto repeat(1440, var(--mp-grid--incr-min));
	width: calc(100vw - 4rem);
	margin-inline: 2rem;
	height: calc(80vh);
	overflow: scroll;
	position: relative;
	gap: var(--mp-grid--gap-length);
	padding: var(--mp-grid--outer-gutter);

	--mp-grid--z-layer--header-lvl-2: 6; /* corner headers */
	/* --mp-grid--z-layer--current: 5; current time indicator line */
	--mp-grid--z-layer--route: 4; /* event items in sticky right column */
	--mp-grid--z-layer--time: 4; /* items in sticky left column */
	--mp-grid--z-layer--backdrop: 3; /* backdrop for both sticky columns */
	--mp-grid--z-layer--header-lvl-1: 2; /* top headers, areas */
	--mp-grid--z-layer--current: 1; /* current time indicator line */
	--mp-grid--z-layer--event: 1; /* regular event */
	--mp-grid--z-layer--lines: 0; /* 15 minute grid lines */

	&::before,
	&::after {
		content: "";
		display: block;
		position: sticky;
		margin-block: calc(var(--mp-grid--outer-gutter) * -1);
		grid-row: 1 / -1;
		z-index: var(--mp-grid--z-layer--backdrop);
		background-color: color-mix(
			in oklab,
			var(--mp-color-sys--bg) 70%,
			transparent
		);
		backdrop-filter: blur(3px);
	}

	&::before {
		left: calc((var(--mp-grid--outer-gutter) * -1) - 1px);
		grid-column: 1;
	}

	&::after {
		/* right: 0; */
		right: calc(var(--mp-grid--outer-gutter) * -1);
		/* margin-inline-start: calc(var(--mp-grid--outer-gutter) * -1); */
		grid-column: -2;
	}

	&.scroll-start {
		&::before {
			margin-inline-end: calc(var(--mp-grid--outer-gutter) * -2);
		}
	}

	&.scroll-end {
		&::after {
			margin-inline-start: calc(var(--mp-grid--outer-gutter) * -1);
		}
	}

	&:not(.mp-grid--alt-route) {
		.mp-route--alt {
			display: none;
		}

		.mp-grid__alt-item {
			display: none;
		}
	}

	&.mp-grid--alt-route {
		--mp-grid--route-col-count: 2;
		&::after {
			grid-column: -3 / span 2;
		}

		/* move main route items to "first" route column */
		.mp-route:not(.mp-route--alt) {
			grid-column: -3;
			right: calc(var(--mp-grid--column-width) + var(--mp-grid--gap-length));
		}

		.mp-route--alt {
			margin-inline-start: 0;
		}

		& > .mp-current > .mp-clock {
			grid-column: -4;
			right: calc(
				(var(--mp-grid--column-width) + var(--mp-grid--gap-length)) * 2
			);
		}
	}

	& > .mp-lines {
		--grid-line-color: var(--mp-color-sys--surface-1);

		pointer-events: none;
		position: relative;
		z-index: var(--mp-grid--z-layer--lines);
		grid-row: 1 / -1;
		grid-column: 1 / -1;
		background-image: repeating-linear-gradient(
			0deg,
			var(--grid-line-color),
			var(--grid-line-color) 2px,
			transparent 2px,
			transparent
		);
		background-repeat: repeat;
		background-size: var(--mp-grid--length-15-min) var(--mp-grid--length-15-min);
		background-position: top
			calc(
				var(--mp-grid--header-height, 1rem) + var(--mp-grid--gap-length) - 1px
			)
			center;
	}

	& > .mp-current {
		--grid-line-color: var(--mp-color-sys--surface-1);
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;

		pointer-events: none;
		position: relative;
		z-index: var(--mp-grid--z-layer--current);
		grid-row: calc(clamp(0, var(--time), 1440) + 2);
		grid-column: 1 / -1;
		border-top: 2px solid var(--mp-color-sys--accent-1-intense);
		opacity: 0.7;
		filter: drop-shadow(0 0 0.25rem var(--mp-color-sys--accent-1-intense));

		& > .mp-clock {
			grid-column: -3;
			position: sticky;
			right: calc(var(--mp-grid--column-width) + var(--mp-grid--gap-length));
			margin-inline-start: 0.25rem;
			background-color: var(--mp-color-sys--accent-1-intense);
			color: var(--mp-color-sys--bg);
			justify-self: end;
			font-weight: 700;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.125rem 0.25rem;
		}
	}
}

:where(.mp-header, .mp-time) {
	padding: 0.25rem;
	border-radius: 0.25rem;
}

.mp-header {
	grid-row: 1;
	position: sticky;
	top: 0;
	z-index: var(--mp-grid--z-layer--header-lvl-1);
	box-shadow: var(--mp-grid--header-shadow);
	background-color: var(--mp-color-sys--surface-1);
	font-weight: 700;
	border-block-end: 3px solid
		var(
			--mp-color-sys--release,
			color-mix(in oklab, var(--mp-color-sys--fg) 25%, transparent)
		);
	&.mp-route {
		z-index: var(--mp-grid--z-layer--header-lvl-2);
	}
	align-content: end;

	&.mp-time {
		grid-row-start: 1;
		z-index: var(--mp-grid--z-layer--header-lvl-2);
	}
}

.mp-time {
	grid-column: 1;
	position: sticky;
	left: 0;
	box-shadow: var(--mp-grid--header-shadow);
	background-color: var(--mp-color-sys--surface-1);
	z-index: var(--mp-grid--z-layer--time);

	&:not(.mp-header) {
		grid-row-end: span 15;
	}
}

.mp-event,
.mp-time {
	/* plan for 15 minutes of space BEFORE reset */
	grid-row-start: calc(clamp(0, (var(--time, 0) + var(--offset, 0)), 1440) + 2);
}

.mp-event {
	--mp-event--gap: 0.25rem;
	position: relative;
	z-index: var(--mp-grid--z-layer--event);
	grid-row-end: span max(5, var(--duration, 5));

	display: grid;
	gap: var(--mp-event--gap);
	grid-template-columns: auto 1fr 3rem;
	grid-template-rows: auto auto auto 1fr;
	grid-template-areas: "title title actions" "start times actions" "waypoint times actions" "empty empty actions";
	border: 2px solid
		color-mix(in oklab, var(--mp-color-sys--fg) 15%, transparent);
	background-color: var(--mp-color-sys--surface-2);
	font-size: 0.875rem;
	border-radius: 0.25rem;
	overflow: clip;

	&:not(.mp-route) {
		&:not(:hover) {
			background-color: color-mix(
				in oklab,
				var(--mp-color-sys--surface-2) 80%,
				transparent
			);
		}

		& .mp-event__actions {
			background-color: color-mix(
				in oklab,
				var(--mp-color-sys--surface-1) 80%,
				transparent
			);
		}
	}

	&.mp-event--added {
		opacity: 0.7;
		pointer-events: none;
	}

	& ul {
		padding: 0;
		list-style: none;
	}
}

.mp-event__title {
	grid-area: title;
	padding: var(--mp-event--gap) 0 0 var(--mp-event--gap);
}

.mp-event__start {
	grid-area: start;
	padding-inline-start: var(--mp-event--gap);
}

.mp-event__waypoint {
	grid-area: waypoint;
	margin-inline-start: var(--mp-event--gap);
	appearance: none;
	border: none;
	background: transparent;
	width: 1rem;
	height: 1rem;
	background-color: blue;
}

.mp-event__times {
	grid-area: times;
	padding: var(--mp-event--gap);
}

.mp-event__durations {
	display: flex;
	gap: var(--mp-event--gap);
	justify-content: space-between;

	& dt {
		margin-block-end: 0.125rem;
	}
}

.mp-event__time-controls {
	display: flex;
	gap: var(--mp-event--gap);

	& > li {
		flex: 1;
		width: 100%;
	}

	label {
	}
	input {
		display: inline-block;
		width: 100%;
	}
}

.mp-event__durations dt,
.mp-event__time-controls label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.625rem;
	line-height: 1;
}

.mp-event__actions {
	grid-area: actions;
	background-color: var(--mp-color-sys--surface-1);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: start;
	gap: var(--mp-event--gap);
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	overflow: clip;

	& > li {
		display: flex;
		flex: 1 1 100%;
	}

	& button {
		display: block;
		width: 100%;
		appearance: none;
		font: inherit;
		border: none;
		color: inherit;
		line-height: 1;
		cursor: pointer;
		background: color-mix(in oklab, var(--mp-color-sys--bg) 25%, transparent);
	}
}

.mp-route {
	z-index: var(--mp-grid--z-layer--route);
	grid-column: -2;
	position: sticky;
	right: 0;
	margin-inline-start: 0.25rem;
}

[data-release="Core"],
[data-release="Season 1"],
[data-release="Season 2"] {
	--mp-color-sys--release: var(--mp-color-ref--release-core);
}

[data-release="Heart of Thorns"],
[data-release="Season 3"] {
	--mp-color-sys--release: var(--mp-color-ref--release-hot);
}

[data-release="Path of Fire"],
[data-release="Season 4"] {
	--mp-color-sys--release: var(--mp-color-ref--release-pof);
}

[data-release="The Icebrood Saga"] {
	--mp-color-sys--release: var(--mp-color-ref--release-ibs);
}

[data-release="End of Dragons"] {
	--mp-color-sys--release: var(--mp-color-ref--release-eod);
}

[data-release="Secrets of the Obscure"] {
	--mp-color-sys--release: var(--mp-color-ref--release-soto);
}
